<% if @resume.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @resume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @resume, html: {multipart: true} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :attachment %>
    <%= f.file_field :attachment%>
    <img id="preview">
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>

<script type="text/javascript">
  function previewImg(input) {
    if (input.files && input.files[0]) {
      let reader = new FileReader()
      reader.onload = function(e) {
        $('#preview').attr('src', e.target.result)
                     .width(150)
                     .height(150)
      }
      reader.readAsDataURL(input.files[0])
    }
  }
  $('#resume_attachment').change(function(){previewImg(this)})
</script>
